body {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: center;
}
.gameContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 2px groove rgb(137, 137, 223);
  padding-top: 30px;
}
/* SCORES CONTAINERS */
.scoreContainer {
  display: grid;
  justify-content: space-around;
  align-items: center;
}
.avatar img {
  object-fit: cover;
  height: 300px;
  width: 300px;
  /* border: solid 1px rgb(104, 104, 154); */
}
.avatar {
  display: grid;
  flex-direction: column;
  border: solid 1px rgb(104, 104, 154);
  border-radius: 4px;
}
.playerTitle {
  display: flex;
  justify-content: center;
}
.score {
  display: flex;
  justify-content: center;
  font-weight: 900;
  font-size: 10rem;
}
.topContainer {
  background-color: rgb(136, 66, 66);
  color: white;
}
.bottomContainer {
  display: flex;
  flex-direction: column;
}
/* MIDDLE CONTAINER */
.middleContainer {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 4px;
  /* height: 30rem;
  width: 30rem; */
}

.cells {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
}
